 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="{{site.url}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.url}}/css/style.css">

    <!-- 
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
     -->
    <script type="text/javascript">
     $('.carousel').carousel({
        interval: 2000
     });
    </script>

    <title>我的第一个网页</title>
</head>